# dependencies
node_modules/
.pnp
.pnp.js

# env
.env
.env*.local

# OS
.DS_Store
*.pem

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js (frontend)
.next/
out/

# Nest.js (backend)
dist/

# build
build/
coverage/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel