services:
  frontend:
    build: ./frontend
    container_name: dcp-frontend  # digital content platform
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    env_file:
      - .env
    networks:
      - dcp-networks
    tty: true
    stdin_open: true

  backend:
    build: ./backend
    container_name: dcp-backend  # digital content platform
    ports:
      - "4000:4000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    env_file:
      - .env
    networks:
      - dcp-networks
    tty: true
    stdin_open: true

networks:
  dcp-networks: